{% extends "base.html" %}
{% block content %}
<div>
    <div class="btn-group" role="group" aria-label="Menu">
        <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
        <a class="btn btn-primary" href="{% url 'home' %}" role="button">Go Back</a>
    </div>
    <br>
    <br>

    <form action="{% url 'add_note' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <input class="btn btn-primary" name="submit" type="submit" value="Save">
    </form>
</div>
{% endblock %}