<div>
    <form action="{% url 'logout' %}" method="GET">
        {% csrf_token %}
        <input name="logout" type="submit" value="Logout">
    </form>
    <form action="{% url 'add_note' %}" method="GET">
        {% csrf_token %}
        <input name="Add Note" type="submit" value="Add Note">
    </form>
    <h1>All notes</h1>
    {% for note in notes %}
        <div class="notetitle">
            <a href="{% url 'note' note.id %}">
                <h3>{{ note.title }}</h3>
            </a>
        </div>
    {% endfor %}
</div>