{% extends "base.html" %}
{% block content %}
<div>
    <div class="btn-group" role="group" aria-label="Menu">
        {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'logout' %}" role="button" name="logout">Logout</a>
        <a class="btn btn-primary" href="{% url 'add_note' %}" role="button" name="add_note">Add Note</a>
        {% else %}
        <a class="btn btn-primary" href="{% url 'login' %}" role="button" name="login">Login</a>
        {% endif %}
    </div>
    <br>
    <br>

    <h1>All notes</h1>
    {% for note in notes %}
        <div class="card border-primary mb-3" style="width: 26rem;">
            <div class="card-body">
                <h3 class="card-title">{{ note.title }}</h3>
                <p class="card-text">{{ note.content }}</p>
                <div class="btn-group" role="group" aria-label="Menu">
                    <a class="btn btn-info" href="{% url 'note' note.id %}" >Details</a>
                    <a class="btn btn-info" href="{% url 'edit_note' note.id %}" role="button" name="edit">Edit</a>
                    <a class="btn btn-info" href="{% url 'share_note' note.id %}" role="button" name="share">Share</a>
                    <a class="btn btn-info" href="{% url 'remove_note' note.id %}" role="button" name="remove">Remove</a>
                </div>
            </div>
            <style>
                .border-primary { border: 2px solid #007bff50; }
            </style>
        </div>
        <br>
    {% endfor %}
</div>
{% endblock %}
