<div>
    <form action="{% url 'logout' %}" method="GET">
        {% csrf_token %}
        <input name="logout" type="submit" value="Logout">
    </form>
    <form action="{% url 'home' %}" method="GET">
        {% csrf_token %}
        <input name="go_back" type="submit" value="Go back">
    </form>
    <form action="{% url 'edit_note' note.id %}" method="GET">
        {% csrf_token %}
        <input name="edit" type="submit" value="Edit note">
    </form>
    <form action="{% url 'share_note' note.id %}" method="GET">
        {% csrf_token %}
        <input name="share" type="submit" value="Share note">
    </form>
    <h3>{{ note.title }}</h3>
    <p>{{ note.content }}</p>
    <p>Created on: {{ note.creation_date }} by: {{ note.owner.username }} </p>
    <p>Shared with:
        {% for user_shared in note.shared_with.all %}
            {{ user_shared.username }};
        {% endfor %}
    </p>
    <form action="{% url 'remove_note' note.id %}" method="POST">
        {% csrf_token %}
        <input name="remove" type="submit" value="Remove note">
    </form>
</div>