{% extends "base.html" %}
{% block content %}
<div>
    <div class="btn-group" role="group" aria-label="Menu">
        <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
        <a class="btn btn-primary" href="{% url 'home' %}" role="button">Go Back</a>
        <a class="btn btn-primary" href="{% url 'edit_note' note.id %}" role="button">Edit</a>
        <a class="btn btn-primary" href="{% url 'share_note' note.id %}" role="button">Share</a>
        <a class="btn btn-primary" href="{% url 'remove_note' note.id %}" role="button">Remove</a>
    </div>
    <br>
    <br>

    <h3>{{ note.title }}</h3>
    <p>{{ note.content }}</p>
    <p>Created on: {{ note.creation_date }} by: {{ note.owner.username }} </p>
    <p{% if note.expires %} >Expires on: {{ note.expiration_date }} </p{% endif %}>
    <p{% if note.shared_with.all %}>Shared with:
        {% for user_shared in note.shared_with.all %}
            {{ user_shared.username }};
        {% endfor %}
    </p{% endif %}>
</div>
{% endblock %}